body {
  background: rgb(208, 225, 246);
  font-family: "Roboto", sans-serif;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  min-height: 100vh;
}
body.dark{
  background: rgb(30, 40, 55);
}

.todo-container {
  background: #ffffff;
  padding: 20px;
  border-radius: 8px;
  width: 530px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.12);
}

body.dark .todo-container{
  background: #1f1f1f;
  color: #f1f1f1;
  box-shadow: 0 4px 20px rgba(255, 255, 255, 0.05);
}

.todo-container:hover {
  background: #fafafa;
}

body.dark .todo-container:hover {
  background: #2a2a2a;
}

.todo-container h2 {
  font-weight: 600;
  font-size: 23px;
  color: #000000;
  margin: 0 0 8 0px;
}

body.dark .todo-container h2 {
  color: #ffffff;
}

.todo-container p {
  font-weight: 500;
  margin: 0 0 16px 0;
  font-size: 14px;
}

body.dark .todo-container p {
  color: #cccccc;
}

.input-value {
  padding: 11px;
  padding-right: 240px;
  border: 1px solid #ddd;
  border-bottom: 1px solid #999;
  border-radius: 7px;
  margin-bottom: 18px;
}

body.dark .input-value {
  background: #2a2a2a;
  color: #fff;
  border: 1px solid #555;
}

.input-value:focus {
  border: 2px solid #015ea5;
  outline: none;
}

body.dark .input-value:focus {
  border: 2px solid #4fa3ff;
}

.task-left input[type="checkbox"] {
  appearance: auto;
  accent-color: white;
  width: 18px;
  height: 18px;
  cursor: pointer;
}

body.dark .task-left input[type="checkbox"] {
  appearance: auto;
  accent-color: rgb(51, 51, 51);
  width: 18px;
  height: 18px;
  cursor: pointer;
}

.task-left input[type="checkbox"]:checked {
  accent-color: rgb(208, 225, 246);
}

body.dark .task-left input[type="checkbox"]:checked {
  accent-color: rgb(51, 51, 51);
}

.add-btn {
  background: #2517be;
  color: white;
  padding: 11px 22px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
  margin-left: 8px;
}

.plus-icon {
  font-weight: 100;
  font-size: 10px;
  margin-right: 6px;
}

.add-btn span {
  margin-right: 6px;
}

.add-btn:hover {
  background: #1c10a5;
}

.task-item {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 6px;
  margin-bottom: 8px;
  position: relative;
  font-size: 14px;
}

body.dark .task-item {
  background: #2a2a2a;
  border: 1px solid #555;
  color: #fff;
}

.task-item:hover {
  background-color: #f5f5f5;
}

body.dark .task-item:hover {
  background-color: #333;
}

.task-item .delete-icon {
  opacity: 0;
  transition: opacity 0.2s ease;
  cursor: pointer;
  color: black;
}

body.dark .task-item .delete-icon {
  color: rgb(255, 255, 255);
}

.task-item:hover .delete-icon {
  opacity: 1;
}

.task-text {
  color: #000;
}

body.dark .task-text {
  color: #ffffff;
}

.task-text.completed {
  color: #888;
  text-decoration: line-through;
}

body.dark .task-text.completed {
  color: #777;
}

.delete-icon:hover {
  color: red;
  transform: scale(1.05s);
}

body.dark .delete-icon:hover {
  color: rgb(180, 1, 1);
}

.task-left {
  display: flex;
  align-items: center;
  gap: 8px;
}

body.dark .task-left{
  color: rgb(67, 67, 67);
}

.task-list {
  list-style: none;
  margin: 0;
  padding: 0;
}


