body {
  background: rgb(208, 225, 246);
  font-family: "Roboto", sans-serif;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  min-height: 100vh;
}

.todo-container {
  background: #ffffff;
  padding: 20px;
  border-radius: 8px;
  width: 530px;
  transition: background 0.2s ease;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.12);
}

.todo-container:hover {
  background: #fafafa;
}
.todo-container h2 {
  font-weight: 600;
  font-size: 23px;
  color: #000000;
  margin: 0 0 8 0px;
}

.todo-container p {
  font-weight: 500;
  margin: 0 0 16px 0;
  font-size: 14px;
}

.input-value {
  padding: 11px;
  padding-right: 252px;
  border: 1px solid #ddd;
  border-bottom: 1px solid #999;
  border-radius: 7px;
  margin-bottom: 18px;
}

.input-value:focus {
  border: 2px solid #015ea5;
  outline: none;
}

.task-left input[type="checkbox"] {
  appearance: auto;
  accent-color: white;
  width: 18px;
  height: 18px;
  cursor: pointer;
}

.task-left input[type="checkbox"]:checked {
  accent-color: rgb(208, 225, 246);
}

.add-btn {
  background: #2517be;
  color: white;
  padding: 11px 22px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
  margin-left: 8px;
}
.plus-icon {
  font-weight: 100;
  font-size: 10px;
  margin-right: 6px;
}

.add-btn span {
  margin-right: 6px;
}

.add-btn:hover {
  background: #1c10a5;
}

.task-item {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 6px;
  margin-bottom: 8px;
  position: relative;
  font-size: 14px;
}
.task-item:hover {
  background-color: #f5f5f5;
}

.task-item .delete-icon {
  opacity: 0;
  transition: opacity 0.2s ease;
  cursor: pointer;
  color: black;
}

.task-item:hover .delete-icon {
  opacity: 1;
}
.task-text {
  color: #000;
}

.task-text.completed {
  color: #888;
  text-decoration: line-through;
}

.delete-icon:hover {
  color: red;
  transform: scale(1.05s);
}

.task-left {
  display: flex;
  align-items: center;
  gap: 8px;
}
.task-list {
  list-style: none;
  margin: 0;
  padding: 0;
}
